
.nav-bar-container{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(75, 0, 130, 0.8);
}
.nav-bar{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.links-container{
    height: 100%;
    width: 70%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    transition: 0.4s;
}
.link div{
    margin-right: 3px;
    font-size: 14px;
}
.link:hover{
    /* background: #FE5B5B; */
    background: rgba(230, 236, 248, 0.5);
}
.nav-login-btn{
    height: 30px;
    width: 90px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.4s all;
    outline: none;
}
.nav-login-btn:hover{
    background: whitesmoke;
    color: #4B0082;
}
.nav-bar-line{
    height: 1px;
    width: 90%;
    background-color: white;
    margin-right: 0;
    visibility: hidden;
}