.dashboard{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-main-container{
    height: 70%;
    width: 70%;
    border: 2px dashed lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-btn-container{
    height: 50px;
    width: 140px;
}
.main-btn{
    height: 100%;
    width: 100%;
    background: #FFDEE0;
    border: none;
    border-radius: 0px;
    color: #4B0082;
    font-size: 16px;
}